# Dictionary in python

*   Dictionaries are used to store data values in key:value pairs
*   They are unordered , mutable(changeable)
*   Don't allow duplicates keys
*   Dictionaries are written with curly brackets

In [ ]:
# Dictionary Syntax
# first = 1,2,3,4,5
# first = 1,"hello" , True
# print(first)
# data = dict()
# print(type(data))
# first = 1
# print(first)
# first_dic = {"key": "value"}
# print(type(first_dic))
# person = {
#     "name" : "Reema",
#     "age": 21,
#     "height": 42.5
# }
# print(person)

# first = {'faisalabad' : '123' , 'lahore' : 1234}

{'name': 'Amna', 'age': 21, 'height': 42.5}

# Length of a dictionary

By using len() function, we can get the number of key-value pairs in a dictionary.

In [ ]:
# len()
product = {
    "id":1,
    "name": "product no 1",
    "type":"dress",
    "price":300,
    "size":"small",
    "rank":12
}
print(len(product))

6

# Dictionary with multiple data types

In [ ]:
# String
# Integer
# Boolean
# List of integers
# Nested dictionary
# Float
# Tuple

user = {
    "name":"fatima",
    123 : 'hello',
    (1,2): "nono",
    "dic" : {"1" : "first","2" : "second"}
}
# print(user)
# (hello , value) = 'hsdshd' , "hello"
# print(hello)
# print(value)
# print(123)

{'name': 'fatima', 123: 'hello', (1, 2): 'nono', 'dic': {'1': 'first', '2': 'second'}}

# Accessing Elements in dictionary
There is no concept of indexes in dictionary. It is an ordered object but we cannot access elements by using its number indexes. For accessing dictionary elements, we use keys. These keys map the values present against them in dictionary.

In [ ]:
# Access elements in dict
person = {
    'name':"reema",
    'age':20,
    'city':"Hyderabad"
}
print(len(person))
print(person['name'])
print(person['age'])
print(person['city'])
print(person['reema'])

3
amna
20
Faisalabad

KeyError: 'amna'

# Duplicate Values in Dictionary

* Values can be duplicated, but keys must be unique. If the same key is used multiple times, the most recent value will overwrite any previous values associated with that key.

* This means the dictionary will only contain the key once, with the latest value assigned to it.

In [ ]:
# duplicates values
student = {
    "id" : 1,
    "email" : "example@gmail.com",
    "name" : "example@gmail.com",
    "password" :"12345abs"
}
print(student)

{'id': 1, 'email': 'example@gmail.com', 'name': 'example@gmail.com', 'password': '12345abs'}

# Add elements in Dictionary
New elements can be added in dictionary simply by introducing a new key-value pair.

In [ ]:
  # Add elements in dic
student = {
    "id" : 1,
    "email" : "example@gmail.com",
    "name" : "example",
    "password" :"12345abs"
}
print(student)
student["subject"] = "english"
print(student)

{'id': 1, 'email': 'example@gmail.com', 'name': 'example', 'password': '12345abs'}
{'id': 1, 'email': 'example@gmail.com', 'name': 'example', 'password': '12345abs', 'subject': 'english'}

# Change Value in a dictionary
We can change a value in a dictionary by assigning new value to the key.

In [ ]:
 # Change value in dic
student = {
    "id" : 1,
    "email" : "example@gmail.com",
    "name" : "example",
    "password" :"12345abs"
}
print(student)
student["id"] = "name"
print(student)

{'id': 1, 'email': 'example@gmail.com', 'name': 'example', 'password': '12345abs'}
{'id': 'name', 'email': 'example@gmail.com', 'name': 'example', 'password': '12345abs'}

# Memebership Operators
In dictionary, we can use membership operators to know whether a key present in a dictionary or not. It cannot be used to check values in dictionary

In [ ]:
#membership

In [ ]:
 # Change value in dic
student = {
    "id" : 1,
    "email" : "example@gmail.com",
    "name" : "example",
    "password" :"12345abs",
    "example" : 234
}
print("example" not in student)

False

# Iterating through Dictionary
By using for loop, we can iterate through a dictionary

In [ ]:
# for loop
student = {
    "email":"example@fmail.com",
    "name":"fatima",
    "pasword":"ajdja"
}
# print(student["email"])
# print(student["name"])
# print(student["pasword"])
# print(student["email"])

for i in student:
  print(i)

email
name
pasword

# Nested Dictionary
When there is another dictionary inside a dictionary, it is called nested dictionary

In [ ]:
# nested dic

student = {
    "email":'233',
    "name":"fatima",
    "pasword":"abcd"
}

for i in student:
  # print(i , student[i])
  if(type(student[i]) == type({})):
    for j in student[i]:
      print(j , student[i][j])
  else:
    print("There is no nested dict exist in the student dict")


  # if(type(student[i]) == type(dict())):
  #   for j in student[i]:
  #     print(j , student[i][j])

There is no nested dict exist in the student dict
There is no nested dict exist in the student dict
There is no nested dict exist in the student dict

# **Dictionary Methods**


* clear():
It is used to clear data from a dictionary.
* keys():
It is used to get a list of all the keys present in a dictionary.
* values():
It is used to get a list of all the values present in a dictionary.
* items():
It is used to get all the elements of a dictionary.
* get():
It is used to get specified keys' value from a dictionary.
* update(): It is used to update a dictionary with elements from another dictionary

In [ ]:
chair = {
    "id": 1,
    "color" : 'red',
    "price" : {
        'dollar' : 2,
        'rupess' : 1000
    }
}
print(len(chair))
print(chair["color"])
# update
chair['color'] = 'green'
print(chair)
# membership
print('name' in chair)

# for loop
for j in chair:
  print(j , chair[j])

# nested
print(chair['price']['dollar'])

3
red
{'id': 1, 'color': 'green', 'price': {'dollar': 2, 'rupess': 1000}}
False
id 1
color green
price {'dollar': 2, 'rupess': 1000}
2

In [ ]:
student = {
    "name" :'example',
    'password' : 123
}
email = {
    "email":"hshfhs"
}
student.update(email)
print(student)
# print(student)
# student.clear()
# print(student)
# store_keys = student.keys()
# print(store_keys)
# for key in store_keys:
#   print(key)
# store_value = student.values()
# print(store_value)
# for value in store_value:
#   print(value)


# for data , data_no_2 in student.items():
#   print(data , data_no_2)
# print(student['email'])
# print(student.get('email' , 'Not exist'))

{'name': 'example', 'password': 123, 'email': 'hshfhs'}

# Using del Statement
The del statement removes the key and its associated value from the dictionary.

In [ ]:
student = {
    "name" :'example',
    'password' : 123
}
del student['password']
del student['name']
print(student)

{}

# Using pop Method
The pop method removes the key and returns its value. If the key is not found, you can provide a default value to return instead of raising an error.

In [ ]:
student = {
    "name" :'example',
    'password' : 123
}
student.pop('example' , 'None')

'None'

# popitem method
 Python removes and returns the last key-value pair from the dictionary as a tuple. If the dictionary is empty, calling popitem raises a KeyError.

In [ ]:
student = {
    "name" : 'fatima',
    'class' : 'python'
}
print(student)
data = student.pop('class')
print(data)
print(student)

{'name': 'fatima', 'class': 'python'}
python
{'name': 'fatima'}