# **Lecture No 13 : Sets**
---

#**Sets**

Like lists and tuples, sets are used to store multiple values of different data types in a single variable.

Set items are unordered, unindexed, unchangable and don't allow duplicate values.

(Set items are unmutable, we can still add and remove items).

Sets are written with curly brackets.

# **Creating a Set**

In [ ]:
set1 = {'Lahore', 'karachi','Faisalabad'}
print(set1)
print(type(set1))

# built in function

set2 = set()
print(set2)


#  Dulicates values

set3 = {'Lahore', 'karachi','Faisalabad','Faisalabad' ,3 , 5, 7, 7,}
print(set3)

{'karachi', 'Faisalabad', 'Lahore'}
<class 'set'>
set()
{'karachi', 3, 'Faisalabad', 5, 7, 'Lahore'}

#**Length of a Set**

To determine how many items a set has, use the `len()` function.

In [ ]:
set1 = {'Lahore', 'karachi','Faisalabad'}

#**Access Set Items**

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a `for` loop, or ask if a specified value is present in a set, by using the `in` keyword.

In [ ]:
set1 = {'Lahore', 'karachi','Faisalabad'}

if 'karachi' in set1:
  print('True')
else:
  print("False")

# second
print('Lahore' in set1)

# loop

for item in set1:
  print(item)

True
True
karachi
Faisalabad
Lahore

#**Add items in a Set**

Once a set is created, you cannot change its items, but you can add new items.

To add an item to a set, use the `add()` method.

To add items from another set into the current set, use the `update()` method.

In [ ]:
# set1 = {'Lahore', 'karachi','Faisalabad'}
# set1.add("peshawar")
# print(set1)


# # update () for multiple items

# set1 = {'Lahore', 'karachi','Faisalabad'}
# set1.update(('item1', 'item2'))
# print(set1)

set1 = {'Lahore', 'karachi','Faisalabad'}
set2 ={'tomato','potato'}
set1.update(set2)
print(set1)

# set1.

{'karachi', 'Faisalabad', 'tomato', 'potato', 'Lahore'}

#**Remove Set Items**

In [ ]:
# remove()


set1 = {'Lahore', 'karachi','Faisalabad'}
popped = set1.remove('Lahore')
print(popped)
print(set1)


# pop()
# set1 = {'Lahore', 'karachi','Faisalabad'}
# set1.pop()
# print(set1)

# pop()
# set1 = {'Lahore', 'karachi','Faisalabad'}
# popped = set1.pop()
# print(set1)
# print(popped)


# clear ()

set1 = {'Lahore', 'karachi','Faisalabad'}
print(set1.clear())


set1.clear()
print(set1)

None
{'Faisalabad', 'karachi'}
None
set()

# **Joining Sets**

We can join two sets using the `union()` method.

 **Union** : This method returns a new set

In [ ]:
set1 = {'Lahore', 'karachi','Faisalabad'}
set2 ={'tomato','potato'}
print(set1.union(set2))

{'tomato', 'Lahore', 'karachi', 'potato', 'Faisalabad'}

# **Finding Intersection Items**
Intersection returns a set of items which are in both the sets.

In [ ]:
set1 = {'Lahore', 'karachi','Faisalabad'}
set2 ={'tomato','potato', 'Faisalabad'}
print(set1.intersection(set2))

{'Faisalabad'}

# **Checking Subset and Super Set**
A set can be a subset or super set of other sets:

**Subset:** ` issubset()`

**Super set**: `issuperset()`

In [ ]:
set1 = {0,1 ,2, 8, 4, 5}

set2 = {0,1 ,2, 3, 4, 5, 6 ,7}
# set2 = {2, 4, 6, 8,}

print(set1.issubset(set2))
print(set1 <= set2)

False
False

In [ ]:
set1 = {0,1 ,2, 3, 4, 5}
set2 = {0,1 ,2, 3, 4}

print(set1.issuperset(set2))
print(set1 >= set2)

True
True

# **Difference Between Two Sets**

It returns the difference between two sets.

In [ ]:
set1 = {0,1 ,2, 3, 4, 5}
set2 = {0,1 ,2, 3, 4, 6,7,8}

print(set1.difference(set2))
print(set1 - set2 )

{5}
{5}

# **Finding Symmetric Difference Between Two Sets**

It returns the the symmetric difference between two sets. It means that it returns a set that contains all items from both sets, except items that are present in both sets, mathematically: `(A\B) âˆª (B\A)`

In [ ]:
set1 = {0,1 ,2, 3, 4, 5,10}
set2 = {0,1 ,2, 3, 4,6,8,0,10}

print(set1.symmetric_difference(set2))

{5, 6, 8}

In [ ]:
# isdisjoint()

set1 ={1, 3, 5, 7, 9}
set2 = {2, 4, 6, 8,10}

print(set1.isdisjoint(set2))

True

## **Convert the ages to a set and compare the length of the list and the set, which one is bigger?**

In [ ]:
ages = [23, 58,45, 78, 96, 35, 23, 24]

ages_set = set(ages) #  {23,24,35,45,58,78,96}

list_len = len(ages) # 8
set_len = len(ages_set) # 7


if list_len > set_len:
  print('This list is biger than set')
elif list_len < set_len:
  print('This set is biger than list')
else:
  print('The list and set both have same length')

This list is biger than set