# **Tuples**

- A tuple is a collection of different data types which is ordered and unchangeable (immutable).
- Tuples are written with round brackets, ().
- Once a tuple is created, we cannot change its values.
We cannot use add, insert, remove methods in a tuple because it is not modifiable (mutable). Unlike list, tuple has few methods.

In [ ]:
T1 = ('Nepal', 'Pakistan', 5 , 8.9 , 'Korean' )
print(T1)


t2 = tuple()
print(type(t2))

('Nepal', 'Pakistan', 5, 8.9, 'Korean')
<class 'tuple'>

#**Accessing Tuple Elements**

Items in the tuples can be accessed by entering the index number inside square bracket.

The index can be a positive index, a negative index or a range of the indices.

In [ ]:
T1 = ('Nepal','Pakistan', 5 , 8.9 , 'Korean' )
print(T1[1])

# print(T1.__len__())



print(len(T1))

Pakistan
5
5

#**Membership Operator in Tuple**

To determine if a specified item is present in a tuple use the `in` keyword:**

In [ ]:
T1 = ('Nepal','Pakistan', 5 , 8.9 , 'Korean')
print('Indonesia' not in T1)
print('Indonesia' in T1)

True
False

#**Update Tuples**

Tuples are immutable. You can't add or remove items in it. However, there are some hacks to do that.

In [ ]:
# T1 = ('Nepal','Pakistan', 5 , 8.9 , 'Korean')
# x = list(T1)
# x.append('indonesia')

# T1 = tuple(x)
# print(T1)



# 2nd method
# T1 = ('Nepal','Pakistan', 5 , 8.9 , 'Korean')
# T2 = ('Python',)
# T1 += T2
# print(T1)


# T1 = ('Nepal','Pakistan', 5 , 8.9 , 'Korean')
# x = list(T1)
# x.remove('Pakistan')

# T1 = tuple(x)
# print(T1)


T1 = ('Nepal','Pakistan', 5 , 8.9 , 'Korean')

('Nepal', 5, 8.9, 'Korean')

#**Join Tuples**

To join tuples, you can use `+` operator.

In [ ]:
join1 = (2, 4, 6, 7)
join2 = ('Helo', 'World')
join3 = ('Pakistan', 'India')
print(join1 + join2 + join3)

join1 += join2 + join3
print(join1)

(2, 4, 6, 7, 'Helo', 'World', 'Pakistan', 'India')
(2, 4, 6, 7, 'Helo', 'World', 'Pakistan', 'India')

#**Multiply Tuples**

If you want to multiply the content of a tuple a given number of times, you can use the `*` operator.

In [ ]:
join1 = (2, 4, 6, 7)

print(join1 * 5)

(2, 4, 6, 7, 2, 4, 6, 7, 2, 4, 6, 7, 2, 4, 6, 7, 2, 4, 6, 7)

#**Tuple Methods**

Python has two built-in methods for tuple.

* `count()` method
* `index()` method

In [ ]:
T1 = ('Nepal','Pakistan', 5 , 8.9 , 'Korean', 'Pakistan', 'Pakistan')
print(T1.count('Pakistan'))

print(T1.index(5))
print(T1[-1])

3
2
Pakistan