# **First Program**

In [ ]:
print ("hello world")

hello world

# **Print Function**

In [ ]:
print('Hello World!')
print("i Code guru")
print('''hello world icode guru,''')
print('''hello world icode guru,''')

Hello World!
i Code guru
hello world icode guru,
hello world icode guru,

# **Python Character Set**

*   **Letters** : A to Z, a to z
*   **Digits** : 0 to 9

*  **Special Symbols** : + - * / etc.
*   **Whitespaces** : Blank Space, tab,  return, newline, formfeed

# **Python Variables**
Variables are containers for storing data values.

Python has no command for declaring a variable. There is no need to write the data type of a variable before it.

A variable is created the moment you first assign a value to it.

In [ ]:
python = 100
print(python)

100

# **Rules for assigning name to variable**



*   A variable name must start with a letter or the underscore character and there must be no white space in a variable name
*   A variable name cannot start with a number


*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ). No special characters are allowed i.e. @icode , Python$ are the invalid variables.
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:

Python=5
print(Python)
5=python
print(5)
@icode=5
print(@icode)
name="ali"
Name=" majid"
NAME="sana"
print(NAME)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-1-ef4d880acb2c>, line 3)

# **Rules Practice**

In [ ]:
num = 6
NUM = 5
_num = 8
print(_num)
print(num)
print(NUM)

8
6
5

# **Types of variable name cases**

**Camel Case**

**Snake Case**

**Pascal Case**

In [ ]:
myName = 'MAJID'
print(myName)

my_name = 'MAJID'
print(my_name)

MyName = 'MAJID'
print(MyName)

MAJID
MAJID
MAJID

# **Assigning values to the variable:**


* Assigning multiple values to multiple variables
  
*   Assigning one value to multiple variables

#**Multiple Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line.

In [ ]:


x , y, z  = 2 , 3, 5
x=8
x = 7
print(x)

7

#**One Value to Multiple Variables**

You can also assign the same value to multiple variables in one line.

In [ ]:
a = b = c = "iCodeGuru"
print(a)
print(b)
print(c)

iCodeGuru
iCodeGuru
iCodeGuru

#**Getting Address of a Variable**

Use id function for it.

The `id()` function returns a unique id for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.

The id is the object's memory address, and will be different for each time you run the program.

In [ ]:
x = 6
x = 6
y = 7
y = 6
print(x)
print(id(x))
print(id(x))
print(id(y))
print(id(y))

6
135523851420048
135523851420048
135523851420048
135523851420048

In [ ]:
x = 5.5
y = 5
print(id(x))
print(id(y))

139993725291408
139995007058288